:root {
  --html-bg:#6B9080;
   --nav-hover:#f6fff842;

  --yellow: linear-gradient(180deg, #f8d49a -146.42%, #fad79d -46.42%);
  --orange: #fca61f;
  --orange-bg:#fca61f96;
  --orange-text:#794a00;

  --bg-white:#ffff;
  --black: #242d49;
  --gray: #788097;
  --purple: linear-gradient(180deg, #bb67ff 0%, #c484f3 100%);

  --pink: #ff919d;
  --pink-bg:#ff919da8;
  --pink-text:#c30015;

  --green:#b2ff91;
  --green-bg:#b2ff91a3;
  --green-text:#278100;

  --glass: #F6FFF8;
  --box-shadow: #A4C3B2;
  --activeItem: #f799a354;
}

::-webkit-scrollbar {
  width: .4em; 
}
::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
  overflow:visible;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.2); 
}

a{
  color: unset;
  text-decoration: none;
}
button{
  transition: all 150ms ease-in;
}

html,
body,
#__next {
  height: 100%;
  margin: 0;
  font-family: "Inter", sans-serif;
}
* {
  box-sizing: border-box;
}

html {
  color: var(--black);
  background:var(--html-bg);
}
#__next {
  display: flex;
  justify-content: center;
  align-items: center;
}

.glassContainer {
  height: 97vh;
  width: 97vw;
  background: var(--glass);
  border-radius: 2rem;
  overflow-y: auto;
  padding: 1rem;
  margin-top: 1rem;
}

@media screen and (min-width: 1024px) {
  #__next {
    display: grid;
    grid-template-columns: 15% auto;
    overflow-y: scroll;
    justify-content: unset;
  }
  .glassContainer {
    width: 97%;
  }
  main {
    height: auto;
  }
}

/* ----------navbar----------- */
.logo {
  width: 70%;
  align-self: center;
}
.icon {
  width: 2rem;
  height: 2rem;
}
nav>ul {
  list-style: none;
  color:var(--bg-white);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 0 1.5rem 0 0.3rem;
}

.active {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.active::before {
  content: "";
  background: var(--bg-white);
  width: 40%;
  height: 0.2rem;
  border-radius: 2rem;
  position: absolute;
}


ul > li {
  display: flex;
  width: auto;
  font-size: 1.2em;
  font-weight: bold;
  align-items: center;
  gap: 2rem;
  margin-left: 2.5rem;
  height: 3rem;
}


ul > li > a {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  transition: all 150ms ease-out;
}

ul>li>a:hover{
  background: var(--nav-hover);
  }

.navBtn {
  position: fixed;
  right: 1em;
  top: 1em;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: var(--html-bg);
  width: 55%;

  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-top: 4rem;
  transition: all 150ms ease-in-out;
}

.showNav {
  transform: translateX(0);
  opacity: 1;
}
.hideNav {
  transform: translateX(-40rem);
  opacity: 0;
}
.invisibleDiv {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9;
}
@media screen and (min-width: 1024px) {
  nav {
    position: -webkit-sticky;
    position: sticky;
    transform: translateX(0) !important;
    opacity: 1 !important;
    background: unset;
    width: 100%;
  }
  ul > li {
    margin-left: 1rem;
  }
  .navBtn {
    display: none;
  }
  .active::before {
    width: 60%;
  }
}

@media screen and (min-width: 1024px) {
  .active::before {
    width: 30%;
  }

}

/* ----------navbar----------- */

/* ----------cardWrapper----------- */
.cardWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card {
  width: 100%;
  height: 10rem;
  border-radius: 1rem;
  background-color: white;
}
.c1 {
  background: var(--purple);
  box-shadow: 0 10px 20px 0px #e0c6f5;
}
.c2 {
  background: var(--pink);
  box-shadow: 0 10px 20px 0px #fd9b9b;
}
.c3 {
  background: var(--orange);
  box-shadow: 0 10px 20px 0px #ffc052;
}

@media screen and (min-width: 1024px) {
  .cardWrapper {
    flex-direction: row;
  }
}

/* ----------cardWrapper----------- */

/* ----------table----------- */
.table-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}
.table-box {
  overflow: scroll;
  border-radius: 0.5rem;
  background-color: var(--bg-white);
}

table > * > tr > * {
  padding: 0 2rem;
}
table > thead > tr > * {
  font-weight: bold;
}

/* @media screen and (min-width: 1024px) {
  .cardWrapper {
    flex-direction: row;
  } */
/* ----------table----------- */


/* ----------admin----------- */
.controlBox{
  display: flex;
  gap: 1rem;
  padding-bottom: 2rem;

}

.addUser,.deleteUser{
  display: flex;
  height: 4rem;
  align-items: center;
  color: white;
  font-weight: bolder;
  padding: .5rem 1rem;
  border-radius: 3rem;
  transition: all 150ms ease-in-out;
}
.addUser{
  background:var(--green);
  /* box-shadow: 0 10px 20px 0px #53ff528f; */
}
.deleteUser{
  background: var(--pink);
  /* box-shadow: 0 10px 20px 0px #ff6c52bd; */
}
.addUser:hover{
  background:white;
  box-shadow: none;
  color: var(--green);
  border: var(--green) solid 1px;
}
.deleteUser:hover{
  background:white;
  box-shadow: none;
  color: var(--pink);
  border: var(--pink) solid 1px;
}

.multiPanel{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.signupForm{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.signupForm>label{
  font-size: 1.5em;
  font-weight: bold;
}

.form-control{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.formAlert{
  color: var(--pink);
}


.signupFormInput{
  height: 3rem;
  border-radius: 3rem;
  border:var(--gray) solid 1px;
  font-size: larger;
  letter-spacing: .1rem;
  padding-left: 1rem;
}
.formAlert{
  min-height: 2.5rem;
}
.signupBtn{
  height: 3rem;
  border-radius: 3rem;
  background: var(--green);
  border: none;
}
.forbidBtn{
  background: var(--gray) !important;
  color: var(--bg-white);
}
@media screen and (min-width: 1024px) {
  .multiPanel{
    flex-direction: row;
    min-width: 40rem;
  }
  .signupForm{
    min-width: 21rem;
  }
}
/* ----------admin----------- */

/* ----------alertbar----------- */
.alert{
  position: fixed;
  bottom: 4rem;
  right: 1rem;
  border-radius: 3rem;
  width: 19rem;
  padding: 1rem;
  display: flex;
  align-items: center; 
  gap: 1rem;
  font-size: larger;
  font-weight: bold;

}

.alert-success{
  color:var(--green-text);
  background-color: var(--green-bg);
}
.alert-warn{
  color:var(--orange-text);
  background-color: var(--orange-bg);
}
.alert-error{
  color:var(--pink-text);
  background-color: var(--pink-bg);
}

.alert-hidden {
  opacity: 0;
  transform: translateX(-60em);
  transition: all 250ms linear 2s;
}/* ----------alerbar----------- */

.task-wrapper{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.createTask{
  width: 100%;
}

.tableUsers{
  display: flex;
  gap: 1rem;
  flex-direction: row;
}

.bgPaper{
  background: var(--bg-white);
  border-radius: 20px;
  padding: 1rem;
  box-shadow: 6px 8px 33px var(--box-shadow)
}


.addTaskBtn{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
    justify-content: center;
    align-items: center;
    background: #77bfa3;
}

.addTaskBtn:hover{
  background: #35a87f5c;
  scale: 1.2;
}
.addTaskBtn:active{
  scale: 1;
}

.addTaskSvg{
  width: 25px;
  height: 25px;
}
.addTaskSvgPath{
  color: var(--bg-white);
 
}

.errormsg{
  color: #f4845f;
}

.inputWrapper{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: .5rem;
}
.inputBox,.selectCompany{
  width: 100%;
}
.datePicker{
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  font-size: medium;
  border-color: rgb(173 173 173 / 28%);
}
.selectCompanyBtn{
  margin: 1rem;
}