@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html,body,#__next{
       height:100vh !important;
    }
    #__next{
        @apply flex flex-col lg:grid lg:grid-cols-12
    }
}

@layer components{
    .bgPaper{
        @apply p-5 shadow-xl rounded-md bg-white;
    }
    h2{
        @apply text-2xl font-extrabold 
    }
    h3{
        @apply text-xl font-bold text-stone-700
    }
    p{
        @apply font-medium
    }
    .inputBox{
        @apply flex flex-col gap-2 py-4
    }
    .errormsg{
        @apply text-red-500
    }
    .datePicker{
        @apply border-stone-200 border-2 w-full h-14 rounded-md
    }
}